= semantic_form_for @tag_context do |f|
  = f.inputs do
    =f.input :label

  = f.inputs do
    #tags
    %h3 #{@tag_context.label.pluralize.humanize}
    = f.semantic_fields_for :tags do |tag|
      = render 'tag_fields', :f => tag
    
    =f.inputs do
      .links
        = link_to_add_association "Add #{@tag_context.label}", f, :tags, :render_options => {:wrapper => 'bootstrap' }

    =f.inputs do
      =f.buttons
