= semantic_form_for @tag_context do |f|
  = f.inputs do
    =f.input :label

    #tags
      %h3 Tags
      = f.semantic_fields_for :tags do |tag|
        = render 'tag_fields', :f => tag
      .links
        = link_to_add_association 'add tag', f, :tags, :render_options => {:wrapper => 'inline' }
        
    =f.buttons
