- model_class = ScholarshipProvider
.page-header
  %h1=t '.title', :default => "Scholarship Provider"
  
%p
  %strong= model_class.human_attribute_name(:name) + ': '
  = best_in_place @scholarship_provider, :name, :nil=>"Click to edit name"

%p
  %strong= model_class.human_attribute_name(:description) + ': '
  = best_in_place @scholarship_provider, :description, :nil=>"Click to edit description"

%p
  %strong= model_class.human_attribute_name(:url) + ': '
  = best_in_place @scholarship_provider, :url, :nil=>"Click to edit URL"
  
%p
  %strong Scholarships
  %table
    =render @scholarship_provider.scholarships

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), scholarship_providers_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_scholarship_provider_path(@scholarship_provider), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), scholarship_provider_path(@scholarship_provider), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
