= semantic_form_for @suggestion do |f|
  = f.inputs do
    = f.input :name, :input_html=>{:size=>40}
    = f.input :category, :input_html=>{:size=>40}
    = f.input :description, :input_html=>{:rows=>4, :cols=>40}
    = f.input :url, :input_html=>{:size=>40}
    = f.input :submitter_email, :input_html=>{:size=>40}
  
  = f.buttons do
    = f.commit_button "Tell us about it!"
